In [21]:
# Using nested for loop to print the first five rows of stars in increment
for i in range(1,5):
    for j in range(i):
        print("* ", end="")
    print("")
# Using nested for loop to print the first five rows of stars in decrement
for i in range(5,0,-1):
    for j in range(i):
        print("* ", end="")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
my_list = [10,20,30,40,50,60,70,80,90,100]

for i in my_list [1::2]:
    print (i, end = " ")

20 40 60 80 100

In [5]:
n = [23, 'Python', 23.98]
x = []
for i in range(len(n)):
    x.append(type(n[i]))
print(n)
print(x)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [15]:
def unique_list(list):
    x = []
    for a in list:
        if a not in x:
            x.append(a)
    return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [20]:
str = 'The quick Brow Fox'
def upperandlower(s):
    u = sum(1 for i in s if i.isupper())
    l = sum(1 for i in s if i.islower())
    print("No. of Upper case character : %s,No. of Lower case characters : %s" % (u,l))
    
upperandlower(str)

No. of Upper case character : 3,No. of Lower case characters : 12