In [106]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [107]:
ages.sort()
print(ages)
print(min(ages))
print(max(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [108]:
ages.append(min(ages))
ages.append(max(ages))

ages.sort()
print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [119]:
import numpy as np

print(np.median(ages))


mid = len(ages) // 2
median = (ages[mid] + ages[mid]) / 2
print(median)

24.0
24.0

In [110]:
average = (sum(ages) / len(ages))
print(average)

22.75

In [111]:
range = ages[-1] - ages[0]
print(range)

7

In [112]:
print("Question 2")

Question 2

In [120]:
dog = {}

In [129]:
dog = {
    'name' : 'Bill',
    'breed' : 'Pug',
    'legs' : 4,
    'age' : 3
}
print(dog)

{'name': 'Bill', 'breed': 'Pug', 'legs': 4, 'age': 3}

In [139]:
student = {
    'first_name' : 'John',
    'last_name' : 'Smith',
    'gender' : 'M',
    'age' : 60,
    'marital status' : 'Single',
    'skills' : ['JavaScript', 'React', 'Node'],
    'country' : 'Canada',
    'city' : 'Belton',
    'address':{
        'street':'Jackson street',
        'zipcode':'65023'
    },
}

In [140]:
print(len(student))

9

In [142]:
print(student['skills'])
num = 100
print('Datatype : ',type(student['skills']))

['JavaScript', 'React', 'Node']
Datatype :  <class 'list'>

In [143]:
student['skills'].append('HTML')
print(student['skills'])

['JavaScript', 'React', 'Node', 'HTML']

In [147]:
keys = student.keys()
print(keys)

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [148]:
values = student.values()
print(values)

dict_values(['John', 'Smith', 'M', 60, 'Single', ['JavaScript', 'React', 'Node', 'HTML'], 'Canada', 'Belton', {'street': 'Jackson street', 'zipcode': '65023'}])

In [149]:
print("Question 3")

Question 3

In [153]:
brothers = ('Jack', 'Mateo')
sisters = ('Leslie', 'Rosa')
print(brothers)
print(sisters)

('Jack', 'Mateo')
('Leslie', 'Rosa')

In [154]:
siblings = brothers + sisters
print(siblings)

('Jack', 'Mateo', 'Leslie', 'Rosa')

In [158]:
len(siblings)

4

In [157]:
parents = ('Daniel', 'Alexis')
family = siblings + parents
print(family)

('Jack', 'Mateo', 'Leslie', 'Rosa', 'Daniel', 'Alexis')

In [159]:
print("Question 4")

Question 4

In [196]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

len(it_companies)

7

In [197]:
it_companies.add('Twitter')
print(it_companies)

{'Amazon', 'Google', 'Microsoft', 'Twitter', 'Facebook', 'Apple', 'Oracle', 'IBM'}

In [198]:
it_companies.update(['item9','item10','item11'])
print(it_companies)

{'Facebook', 'item11', 'Apple', 'Amazon', 'Google', 'Microsoft', 'Oracle', 'item9', 'Twitter', 'item10', 'IBM'}

In [199]:
it_companies.remove('Apple')
print(it_companies)

{'Facebook', 'item11', 'Amazon', 'Google', 'Microsoft', 'Oracle', 'item9', 'Twitter', 'item10', 'IBM'}

In [200]:
# remove () method will raise an error if the specified item does not exist, and the discard () method will not.

In [201]:
results = A.union(B)
print(results)

{19, 20, 22, 24, 25, 26, 27, 28}

In [202]:
intersectAB = A.intersection(B)
print(intersectAB)

{19, 20, 22, 24, 25, 26}

In [203]:
A.issubset(B)

True

In [210]:
A.isdisjoint(B)

False

In [211]:
AandB = A.union(B)
BandA = B.union(A)
print(AandB)
print(BandA)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [212]:
A.symmetric_difference(B)

{27, 28}

In [213]:
del AandB
del BandA

In [223]:
setOfAges = set(ages)
print(ages)
len(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

12

In [224]:
print(setOfAges)
len(setOfAges)

{19, 20, 22, 24, 25, 26}

6

In [281]:
print("Question 5")

Question 5

In [288]:
radius = 30.0
pi = 3.14
_area_of_circle = pi * radius ** 2
print(_area_of_circle)

2826.0

In [289]:
_circum_of_circle_ = 2 * pi * radius
print(_circum_of_circle_)

188.4

In [290]:
def findArea(r):
    area_of_circle = pi * r ** 2
    return area_of_circle;

userInput = float(input("Enter radius of circle: "))
finalAnswer = findArea(userInput)
print("Area of circle",finalAnswer)

Enter radius of circle: 30
Area of circle 2826.0

In [291]:
print("Question 6")

Question 6

In [292]:
question6 = 'I am a teacher and I love to inspire and teach people'
splitwords = question6.split()
setwords = set(splitwords)
print(splitwords)
print(setwords)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
{'and', 'a', 'inspire', 'love', 'people', 'I', 'am', 'teacher', 'teach', 'to'}

In [293]:
print("Question 7")

Question 7

In [300]:
part1 = 'Name\t\tAge\tCountry City'
part2 = 'Asabench\t250\tFinland Helsinki'
print(part1)
print(part2)

Name		Age	Country City
Asabench	250	Finland Helsinki

In [301]:
print("Question 8")

Question 8

In [306]:
radius = 10
area = 3.14 * radius ** 2

sentence = 'The area of a circle with radius {} is {} meters square.'.format(radius, area)
print(sentence)

The area of a circle with radius 10 is 314.0 meters square.

In [346]:
print("Question 9")

Question 9

In [369]:
lbsStudents = input('Enter elements of a list separated by space ')
print("\n")
user_list = (lbsStudents.split())
user_list = list(map(int, user_list))
print(user_list)

mylist = []
for i in user_list:
    temp = i * 0.45359237
    mylist.append(temp)

print(mylist)

Enter elements of a list separated by space 10 20 30 40


[10, 20, 30, 40]
[4.535923700000001, 9.071847400000001, 13.6077711, 18.143694800000002]

In [345]:
print("Question 10")

Question 10